body {
    margin: 0px;
  background: #600000;
}

#background {
    fill: #600000;
}

#field {
    left:0;
    top:0;
    width:100%;
    height:100%;
    position : absolute;
    display: inline-block;
    cursor: none;
      fill: white;
}

.score {
    font-family : Impact, Charcoal, sans-serif;
    text-anchor: middle;
    font-size : 30pt;
      fill: white;
}